body{
    text-align:center;
    margin:0 auto;
    background-color: #4B946A;
}
h1{
    margin-top: 15% !important;
    color: crimson;
    font-size: 4em !important;
    transform:rotate(15deg);
    background-color: beige;
}
.grid{
    margin:30px !important;
    background-color: white;
}
img{
    max-height: 10% !important;
}
.divGato{
    border: solid;
    border-width: 3px;
}
#divGato1{
    border-bottom-color: crimson;
    border-right-color: crimson;
}
#divGato2{
    border-bottom-color: crimson;
    border-right-color: crimson;
    border-left-color: crimson;
}
#divGato3{
    border-bottom-color: crimson;
    border-left-color: crimson;
}
#divGato4{
    border-bottom-color: crimson;
    border-right-color: crimson;
    border-top-color: crimson;
}
#divGato5{
    border-bottom-color: crimson;
    border-right-color: crimson;
    border-left-color: crimson;
    border-top-color: crimson;
}
#divGato6{
    border-bottom-color: crimson;
    border-left-color: crimson;
    border-top-color: crimson;
}
#divGato7{
    border-top-color: crimson;
    border-right-color: crimson;
}
#divGato8{
    border-top-color: crimson;
    border-right-color: crimson;
    border-left-color: crimson;
}
#divGato9{
    border-top-color: crimson;
    border-left-color: crimson;
}
#mainImg{
    height: 120px;
    width: 120px;
}